<!-- app/templates/admin/contacts.hbs -->

<h1>Contacts</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>email</th>
          <th>message</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |contact|}}
        <tr>
            <td>{{contact.email}}</td>
            <td>{{contact.message}}</td>
            <td><button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button></td>
        </tr>
    {{/each}}

    </tbody>
</table>
